<html>
<body>
    </div>
          <div>Список Авторов</div>
          {{#authors}}
          <div>
              <b>{{id}}</b>
              <span>{{first_name}}</span>
              <i>{{last_name}}</i>
          </div>
          {{/authors}}
</body>
</html>